<html>

  <head>
    <title>Show for all around the World</title>
  </head>

  <body>
    <header>
      <div class="heading">
        <h1>投稿の詳細ページ</h1>
      </div>
      <%= link_to "TOP画面へ移動する", "http://localhost:3000/" %>
    </header>
    <table border="1px" bordercolor="black">
     <tr>
      <th>ID</th>
      <td><%= @post.id %></td>
     </tr>
     <tr>
     <th>施設名称</th>
     <td><%= @post.name %></td>
     </tr>
     <th>写真</th>
     <td><%= image_tag("#{@post.image}.jpg") %></td>
     </tr>
     <tr>
     <th>概要</th>
     <td><%= @post.text %></td>
     </tr>
     <th>カテゴリー</th>
     <td><%= @post.tag %></td>
     </tr>
     <th>住所</th>
     <td><%= @post.address %></td>
     </tr>
     <th>電話番号</th>
     <td><%= @post.phonenumber %></td>
     </tr>
     <th>ホームページ</th>
     <td><%= @post.URL %></td>
     </tr>
    </table>
  </body>
</html>
