<html>

  <head>
    <title>Show for all around the World</title>
  </head>

  <body>
    <header>
      <div class="heading">
        <h1>投稿の詳細ページ</h1>
      </div>
      <%= link_to "TOP画面へ移動する", "http://localhost:3000/" %>
    </header>
    <table border="1px" bordercolor="black">
     <tr>
      <th>ID</th>
      <td><%= @post.id %></td>
     </tr>
     <tr>
     <th>施設名称</th>
     <td><%= @post.name %></td>
     </tr>
     <th>写真</th>
     <td><%= image_tag("#{@post.image}.jpg") %></td>
     </tr>
     <tr>
     <th>概要</th>
     <td><%= @post.text %></td>
     </tr>
     <th>カテゴリー</th>
     <td><%= @post.tag %></td>
     </tr>
     <th>住所</th>
     <td><%= @post.address %></td>
     </tr>
     <th>電話番号</th>
     <td><%= @post.phonenumber %></td>
     </tr>
     <th>ホームページ</th>
     <td><%= @post.URL %></td>
     </tr>
    </table>
  <div class="container  m-3">
    <!-- ここからフォーム -->
    <% if current_user %>
      <%= form_tag("/shareplaces/#{@shareplace.id}/posts/#{@post.id}/comments", method: :post) do %>
          <div class="form-group">
            <textarea class="form-control" name="text" placeholder="コメントする"  id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        <input type="submit" value="SENT" class="btn btn-primary">
      <% end %>
    <% end %>
        <div class="comments">
        <h4>＜コメント一覧＞</h4>
        <% if @post %>
        テストです。
        <% @post.comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>

  </body>
</html>
