<html>

  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="show.css.scss">
    <title>Show for all around the World</title>
  </head>

  <body>
    <header>
      <div class="heading">
        <h1>Welcome to <%= @city.name %></h1>
      </div>
      <div class="contents container">
        <h3 class="ml-3">エリアから探す</h3>
        <h3 class="ml-3">ジャンルから探す</h3>
      </div>
    </header>
      <div class="contents pt-3">
        <h4>What's NEW</h4>
        <%= link_to "新規投稿をする" , new_shareplace_post_path(1) %>
          <div class="post-container">
            <% @posts.each do |post| %>
            <div class="post-item">
              <tr>
                <td>ID</td>
                <td><%= post.id %></td>
              </tr>
              <tr>
                <td>Name</td>
                 <td><%= "#{post.name}" %></td>

              </tr><br>
              <tr>
                <td>ジャンル</td>
                <td><%= post.tag %></td>
              </tr>
              <tr>
                <td>エリア</td>
                <td><%= post.area %></td>
              </tr><br>
            </div>

            <% end %>
          </div>

  </body>

</html>








